{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="container">
      <div class="section-header">
        <h2>Kolay Yemek ile Tanışın</h2>
        <p>
          Kolay Yemek <span>Hakkında</span>
        </p>
      </div>
      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url({% static 'img/about.jpg' %}) ;">
       
        </div>
        <div class="col-lg-5 d-flex align-items-end">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">Kolay Yemek uygulaması ile restoran ve cafelerinizde sipariş süreçlerini tamamen dijital ortamda yönetin.</p>
            <ul>
              <li>
                <i class="bi bi-check2-all"></i> Sadece internete bağlı akıllı telefon veya tablet ile müşterilerinize sipariş kolaylığı.
              </li>
              <li>
                <i class="bi bi-check2-all"></i> Yapay zeka ile desteklenmiş restoran ve cafe süreç yönetimi.
              </li>
              <li>
                <i class="bi bi-check2-all"></i> Stoklarınızı takip edebilir, minimum maliyet ile maksimum ürün kalitesine ulaşabilirsiniz.
              </li>
              <li>
                <i class="bi bi-check2-all"></i> Tedarik zincirinizi tamamen dijital ortamdan yönetin.
              </li>
            </ul>
            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
            <div class="position-relative mt-4">
              <img src="{% static 'img/about-2.jpg' %}" class="img-fluid" alt="" />
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
{% block title %}
  Daha iyisini öğrenin
{% endblock %}
