<div class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a [routerLink]="['/home']" class="navbar-brand">LifeCoach</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">

      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">

        <li class="navbar-nav">
          <a [routerLink]="['/members']" routerLinkActive="active" class="nav-link">Üyeler</a>

        </li>
        <li class="navbar-nav">
          <a [routerLink]="['/friends']" routerLinkActive="active" class="nav-link">Keşfet</a>

        </li>
        <li class="navbar-nav">
          <a [routerLink]="['/messages']" routerLinkActive="active" class="nav-link">Mesajlar</a>

        </li>
      </ul>

      <ul *ngIf ="loggedIn()" class="navbar-nav ml-auto">
        <li class="navbar-nav">
          <a [routerLink]="['/create-post']"  class="nav-link"><i class="fas fa-circle-plus"></i></a>

        </li>
        <li class="navbar-nav">
          <a [routerLink]="['/profiles']"  class="nav-link">{{authService.decodedToken.email}}</a>

        </li>
        <li *ngIf="adminLoggedIn()" class="navbar-nav">
          <a [routerLink]="['/admin']"  class="nav-link">Admin</a>

        </li>
        <li class="navbar-nav">
          <a (click)="logout()" class="nav-link">Çıkış Yap</a>

        </li>
      </ul>

      <form *ngIf="!loggedIn()" #form="ngForm" class="form-inline mt-2 mt-md-0 ml-auto" (ngSubmit)="login()">
        <input #email="ngModel" class="form-control form-cpntrol-sm mr-sm-2" required type="text" name ="username "placeholder="Kullanıcı Adı/E-Posta" [(ngModel)]="model.email">
        <input #password="ngModel" class="form-control form-cpntrol-sm  mr-sm-2" required type="password" name="password" placeholder="Şifre" [(ngModel)]="model.password">
        <button [disabled]="form.invalid" class="btn btn-success btn-sm my-2 my-sm-0" type="submit">Giriş</button>
      </form>
    </div>
  </div>
</div>
