<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="orderModal{{ desk.id }}" tabindex="-1" role="dialog" aria-labelledby="orderModal{{ desk.id }}Label" aria-hidden="true" style="display:none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModal{{ desk.id }}Label">{{ business.name }} {{ desk.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="card border-top border-bottom border-3" style="border-color: #dc3545 !important;">
          <div class="card-body p-5">
            <p class="lead fw-bold mb-5" style="color: #dc3545;">Sipariş Detayları</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Sipariş Saati:</p>
                <p>{{ desk.order.created_at }}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Sipariş No:</p>
                <p>{{ desk.id }}-000{{ desk.order.id }}</p>
              </div>
            </div>

            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
              {% for item in desk.order_items %}
                <div class="row">
                  <div class="col-md-2 col-lg-1">
                    {% if item.image %}
                      <img src="{{ item.image.url }}" alt="{{ item.product_name }}" class="rounded-circle" style="max-height: 40px; width: 40px;" />
                    {% endif %}
                  </div>
                  <div class="col-md-4 col-lg-5">
                    <p>{{ item.product_name }}</p>
                  </div>
                  <div class="col-md-3 col-lg-1">
                    <p>
                      <span class="badge bg-primary rounded-pill">{{ item.quantity }}</span>
                    </p>
                  </div>

                  <div class="col-md-1 col-lg-3">
                    <p>{{ item.price }}</p>
                  </div>
                  <div class="col-md-2 col-lg-2">
                    <button type="button" class="btn btn-outline-primary btn-sm">Servis Et</button>
                  </div>
                </div>
                <hr />
              {% endfor %}
            </div>
            <div class="mt-2">
              <button type="button" class="btn btn-outline-danger btn-sm d-block w-100">Tümünü Servis Et</button>
            </div>

            <div class="row my-4">
              <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9 text-center">
                <p class="lead fw-bold mb-0" style="color: #dc3545;">{{ desk.sum_price }} TL</p>
                {% if desk.order %}
                <a href="{% url 'payment' desk.order.id %}" class="btn btn-success btn-sm">Ödeme Ekranı</a>
            {% else %}
                <p>Ödeme yapılacak bir sipariş bulunamadı.</p>
            {% endif %}
              </div>
            </div>

            <p class="lead fw-bold mb-4 pb-2" style="color: #dc3545;">Ne Durumdayız</p>

            <div class="row">
              <div class="col-lg-12">
                <div class="horizontal-timeline">
                  <ul class="list-inline items d-flex justify-content-between">
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white"
                        style="background-color:{% if desk.status_code == 1 %}
                          
                          #17a2b8;

                        {% else %}
                          
                          #dc3545;

                        {% endif %}">Sipariş Bekleniyor</p>
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white"
                        style="background-color: {% if desk.status_code == 2 %}
                          
                          #17a2b8;

                        {% else %}
                          
                          #dc3545;

                        {% endif %}">Hazırlanıyor</p>
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white"
                        style="background-color:{% if desk.status_code == 3 %}
                          
                          #17a2b8;

                        {% else %}
                          
                          #dc3545;

                        {% endif %}">Servis Edildi</p>
                    </li>
                    <li class="list-inline-item items-list text-end" style="margin-right: 8px;">
                      <p style="margin-right: -8px;">Tamamlandı</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>
