<!-- Modal -->
<div class="modal fade" id="produceCreateModal{{produce_type.id}}" tabindex="-1" role="dialog" aria-labelledby="produceModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="produceModalLabel">{{produce_type.name}} Kategorisinde Ürün Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Her form için benzersiz bir ID kullan -->
                <form action="{% url 'create_produce' produce_type.id %}" id="add-produce-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Form içeriği -->
                    <div class="form-group">
                        <label for="id_name">Ürün Adı:</label>
                        <input type="text" id="id_name" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <label for="id_description">Ürün Açıklama:</label>
                        <textarea id="id_description" class="form-control" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_price">Fiyat:</label>
                        <input type="text" id="id_price" class="form-control" name="price">
                    </div>
                    <div class="form-group">
                        <label for="id_image">Fotoğraf:</label>
                        <input type="file" id="id_image" class="form-control" name="image">
                    </div>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                    <div id="modal-error-msg" class="alert alert-danger mt-2" role="alert" style="display: none;"></div>
                    <div id="modal-success-msg" class="alert alert-success mt-2" style="display: none;"></div> <!-- JSON verisi burada gösterilecek -->
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
