{% extends 'ms-admin/layout.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
 
    <div class="card card-header bg-header mb-4 h-100">
        <h5 class="text-center text-dark">Ödeme Ekranı</h5>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h4>Sipariş #{{ order.id }}</h4>
            <p><strong>Toplam Tutar:</strong> {{ order.total_price }} TL</p>

            <ul>
                {% for item in order.orderitem_set.all %}
                <li>{{ item.produce.name }} - {{ item.quantity }} Adet</li>
                {% endfor %}
            </ul>

            <hr>
            <h5 class="mb-3">Ödeme Yöntemi</h5>
            <form method="POST" action="{% url 'process_payment' order.id %}">
                {% csrf_token %}
                
                <div class="form-check form-check-inline p-3 border rounded shadow-sm me-3">
                    <input class="form-check-input" type="radio" name="payment_method" id="cash" value="cash" checked>
                    <label class="form-check-label fw-bold" for="cash">
                        💵 Nakit
                    </label>
                </div>
            
                <div class="form-check form-check-inline p-3 border rounded shadow-sm">
                    <input class="form-check-input" type="radio" name="payment_method" id="card" value="card">
                    <label class="form-check-label fw-bold" for="card">
                        💳 Kredi/Banka Kartı
                    </label>
                </div>
            
                <div class="mt-4">
                    <button type="submit" class="btn btn-success w-100 py-2 fs-5">
                        💰 Ödeme Yap
                    </button>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}
