{% extends 'ms-admin/layout.html' %}
{% load static %}
{% block content %}
<div class="container">
 
    <div class="card card-header bg-header mb-4 h-100">
        <h5 class="text-center text-dark">Ödeme İşlemleri</h5>
    </div>
    <div class="row">
        <!-- Rezerve Masalar -->
        <div class="row d-flex flex-wrap mb-4">
        {% for data in reserved_desk_data %}
        <div class="col-md-4 d-flex">
            <div class="card mb-3 border-success h-100 w-100 d-flex flex-column">
                <div class="card-header bg-doruk text-white">
                    {{ data.desk.name }} - Rezerve
                </div>
                <div class="card-body bg-doruk-single text-success d-flex flex-column">
                    {% if data.order %}
                        <p><strong>Sipariş ID:</strong> {{ data.order.id }}</p>
                        <p><strong>Toplam Tutar:</strong> {{ data.total_price }} TL</p>
                        <ul>
                            {% for item in data.order_items %}
                            <li>{{ item.produce.name }} - {{ item.quantity }} Adet - {{ item.unit_price }} TL</li>
                            {% endfor %}
                        </ul>
                        <div class="mt-auto">
                            <a href="{% url 'process_payment' data.order.id %}" class="btn btn-success w-100">Ödemeye Git</a>
                        </div>
                    {% else %}
                        <p class="text-danger">Bu masada henüz sipariş bulunmamaktadır.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        
        
        {% endfor %}
    </div>

    <div class="card card-header bg-header mb-4 h-100">
        <h5 class="text-center text-dark">Boş Masalar</h5>
    </div>
    <div class="row col-12">
        {% for desk in empty_desks %}
        <div class="col-md-3">
            <div class="card border-secondary mb-3">
                <div class="card-header bg-secondary text-white">Masa {{ desk.id }} - Boş</div>
                <div class="card-body">
                    <p>Bu masa şu anda boş.</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
