{% extends 'ms-admin/layout.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
 
    <div class="card card-header bg-header mb-4 h-100">
        <h5 class="text-center text-dark">Ödeme Ekranı</h5>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h4>Sipariş #{{ order.id }}</h4>
            <p><strong>Toplam Tutar:</strong> {{ order.total_price }} TL</p>

            <ul>
                {% for item in order.orderitem_set.all %}
                <li>{{ item.produce.name }} - {{ item.quantity }} Adet</li>
                {% endfor %}
            </ul>

            <hr>

            <h5>Ödeme Yöntemi</h5>
            <form method="POST" action="{% url 'process_payment' order.id %}">
                {% csrf_token %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment_method" value="cash" checked>
                    <label class="form-check-label">Nakit</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment_method" value="card">
                    <label class="form-check-label">Kredi/Banka Kartı</label>
                </div>

                <button type="submit" class="btn btn-success mt-3">Ödeme Yap</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
