{% extends 'module/layout.html' %}
{% load static %}
{% block sidebar %}
  {% include 'bilisim_envanter/_partials/_nav.html' %}
{% endblock %}
{% block content %}
  <style>
    .font-lighter {
      font-weight: lighter;
    }
  </style>

  <div class="row mb-3">
    <!-- Aktif Arızalar Başlığı -->
    <h4 class="text-primary font-weight-bold">Aktif Arızalar</h4>
    
    <!-- Aktif Arızalar Tablosu -->
    <div class="table-responsive mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Resim</th>
            <th class="text-center">Cihaz Adı</th>
            <th class="text-center">Üretici</th>
            <th class="text-center">Model</th>
            <th class="text-center">Birim</th>
            <th class="text-center">Ağ</th>
            <th class="text-center">Arıza Talep Notları</th>
            <th class="text-center">Talepte Bulunan</th>
            <th class="text-center">İşlemler</th>
          </tr>
        </thead>
        <tbody>
          {% for fault in active_faults %}
            <tr>
              <td>
                {% if fault.device_image %}
                  <img src="{{ fault.device_image }}" alt="{{ fault.device_name }}" class="img-fluid text-center" style="max-width: 75px; max-height:50px;" />
                {% else %}
                  <img src="{% static 'img/gorsel-bulunamadi.jpg' %}" alt="Görsel Bulunamadı" class="img-fluid text-center" style="max-width: 75px; max-height:50px;" />
                {% endif %}
              </td>
              <td class="text-center">{{ fault.device_name }}</td>
              <td class="text-center">{{ fault.manufacturer }}</td>
              <td class="text-center">{{ fault.model }}</td>
              <td class="text-center">{{ fault.unit_name }}</td>
              <td class="text-center">{{ fault.network_used }}</td>
              <td class="text-center text-success">
                <span style="word-wrap: break-word;">{{ fault.requester_notes }}</span>
              </td>
              <td class="text-center text-success">{{ fault.requester_first_name }} {{ fault.requester_last_name }}</td>
              <td><a href="{% url 'fault_tracking_detail' fault.action_pk %}" class="btn btn-warning btn-sm text-dark">Detay</a></td>
            </tr>
          {% endfor %}
        </tbody>
        
      </table>
    </div>

    <!-- Geçmiş Arızalar Başlığı -->
    <h5 class="text-muted font-weight-bold mt-5">Geçmiş Arızalar (Son 10)</h5>

    <!-- Geçmiş Arızalar Tablosu -->
    <div class="table-responsive mt-3">
      <table class="table table-striped">
        <thead>
          <thead>
            <tr>
              <th class="text-center">Resim</th>
              <th class="text-center">Cihaz Adı</th>
              <th class="text-center">Üretici</th>
              <th class="text-center">Model</th>
              <th class="text-center">Birim</th>
              <th class="text-center">Ağ</th>
              <th class="text-center">Arıza Talep Notları</th>
              <th class="text-center">Talepte Bulunan</th>
              <th class="text-center">İşlemler</th>
            </tr>
          </thead>
          <tbody>
            {% for fault in completed_faults %}
              <tr>
                <td>
                  {% if fault.device_image %}
                    <img src="{{ fault.device_image }}" alt="{{ fault.device_name }}" class="img-fluid text-center" style="max-width: 75px; max-height:50px;" />
                  {% else %}
                    <img src="{% static 'img/gorsel-bulunamadi.jpg' %}" alt="Görsel Bulunamadı" class="img-fluid text-center" style="max-width: 75px; max-height:50px;" />
                  {% endif %}
                </td>
                <td class="text-center">{{ fault.device_name }}</td>
                <td class="text-center">{{ fault.manufacturer }}</td>
                <td class="text-center">{{ fault.model }}</td>
                <td class="text-center">{{ fault.unit_name }}</td>
                <td class="text-center">{{ fault.network_used }}</td>
                <td class="text-center text-success">
                  <span style="word-wrap: break-word;">{{ fault.action_notes }}</span>
                </td>
                <td class="text-center text-success">{{ fault.performer_first_name }} {{ fault.performer_last_name }}</td>
                <td><a href="{% url 'fault_tracking_detail' fault.action_pk %}" class="btn btn-warning btn-sm text-dark">Detay</a></td>
              </tr>
            {% endfor %}
          </tbody>
          
      </table>
    </div>
  </div>
{% endblock %}
