<div class="pt-4 mt-5 col-lg-12 justify-content-center">
<div class="col-lg-3 col-6" *ngFor="let item of modulesList">
    <!-- small card -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{item.name}}</h3>

        <p>{{item.description}}</p>
      </div>
      <div class="icon">
        <i class="fas fa-user-plus"></i>
      </div>
      <a href="#" class="small-box-footer">
        Detaylar İçin <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>

  