:root {
    /* Örnek olarak, varsayılan bootstrap renklerini değiştirelim */
    --primary: #2681ba;
    --secondary: #464141f8;
    --success: #488a3b;
    --danger: #d46229;
    --warning: #your-new-warning-color;
    --info: #your-new-info-color;
    --light: #your-new-light-color;
    --dark: #your-new-dark-color;
}

       /* Özel Renkler */
       .bg-expense {
        background: linear-gradient(135deg, #6a11cb, #2575fc);
    }

    .bg-cost {
        background: linear-gradient(135deg, #ff416c, #ff4b2b);
    }

    .bg-stock {
        background: linear-gradient(135deg, #f9d423, #ff4e50);
    }
    .bg-doruk {
        background: linear-gradient(135deg, #06862c, #69aa74);
    }
    .bg-doruk-single {
        background: linear-gradient(135deg, #e1e4e1, #e1e4e1);
    }
    

    .bg-payment {
        background: linear-gradient(135deg, #00b09b, #96c93d);
    }

    .bg-tax {
        background: linear-gradient(135deg, #4b6cb7, #182848);
    }

    .bg-finance {
        background: linear-gradient(135deg, #1e3c72, #2a5298);
    }
    
    .bg-header {
        background: linear-gradient(135deg,rgb(240, 233, 233),rgb(234, 237, 243));
    }


    /* Kart Stilleri */
    .custom-card {
        border: none;
        border-radius: 20px; /* Köşe yarıçapını artırdık */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
        height: 100%;
        overflow: hidden; /* İçerik taşmasını engeller */
    }

    .custom-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-link {
        text-decoration: none;
        display: block;
        height: 100%;
    }

    .card-link:hover {
        text-decoration: none;
    }

    .card-header {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.1); /* Başlık arka planına hafif bir transparanlık */
    }

    .card-body {
        padding: 1.5rem;
    }

    .card-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .card-text {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-4 {
        padding-right: 15px;
        padding-left: 15px;
    }