<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">K O L A Y Y E M E K</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_manager %}
          <li class="nav-item me-auto">
            <a class="nav-link" href="{% url 'management_index' %}">Sipariş Yönetim</a>
          </li>
          <li class="nav-item me-auto">
            <a class="nav-link" href="{% url 'dashboard' %}">Restoran Yönetim</a>
          </li>
        {% endif %}
        {% if user.is_desk %}
          <li class="nav-item me-auto">
            <a class="nav-link" href="{% url 'order_index' %}">Sipariş Ver</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav me-auto me-2 me-lg-0">
        {% if user.is_authenticated %}
        {% if user.is_desk %}
        <li class="nav-item me-auto">
          <a class="nav-link" href="{% url 'cart' %}">Sepetim</a>
        </li>
        {% endif %}
          <li class="nav-item me-auto">
            <a class="nav-link" href="{% url 'profile' user.username %}">Hoş geldin, {{ user.username }}</a>
          </li>
          <li class="nav-item me-auto">
            <a class="nav-link" href="{% url 'user_logout' %}">Çıkış Yap</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'user_login' %}">Giriş</a>
          </li>
        
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
